# Grafana
<source>
  @type tail
  tag monitoring.grafana
  path /var/log/grafana/grafana.log
  pos_file /var/log/td-agent/grafana.log.pos
  emit_unmatched_lines true
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Prometheus
<source>
  @type tail
  tag monitoring.prometheus
  path /var/log/prometheus/prometheus/current
  pos_file /var/log/td-agent/prometheus.log.pos
  emit_unmatched_lines true
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

<source>
  @type systemd
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "thanos-sidecar.service" }]
  tag monitoring.systemd.thanos-sidecar

  <storage>
    @type local
    path /var/log/td-agent/thanos-sidecar.pos.json
  </storage>
</source>

# Alert Manager
<source>
  @type tail
  tag monitoring.alertmanager
  path /var/log/prometheus/alertmanager/current
  pos_file /var/log/td-agent/alertmanager.log.pos
  emit_unmatched_lines true
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

# Pushgateway
<source>
  @type tail
  tag monitoring.pushgateway
  path /var/log/prometheus/pushgateway/current
  pos_file /var/log/td-agent/pushgateway.log.pos
  emit_unmatched_lines true
  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

<source>
  @type systemd
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "thanos-compact.service" }]
  tag monitoring.systemd.thanos-compact

  <storage>
    @type local
    path /var/log/td-agent/thanos-compact.pos.json
  </storage>
</source>

<source>
  @type systemd
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "thanos-query.service" }]
  tag monitoring.systemd.thanos-query

  <storage>
    @type local
    path /var/log/td-agent/thanos-query.pos.json
  </storage>
</source>

<source>
  @type systemd
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "thanos-rule.service" }]
  tag monitoring.systemd.thanos-rule

  <storage>
    @type local
    path /var/log/td-agent/thanos-rule.pos.json
  </storage>
</source>

<source>
  @type systemd
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "thanos-store.service" }]
  tag monitoring.systemd.thanos-store

  <storage>
    @type local
    path /var/log/td-agent/thanos-store.pos.json
  </storage>
</source>

<filter monitoring.systemd.*>
  @type parser
  key_name MESSAGE

  <parse>
    @type json
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</filter>

<filter monitoring.**>
  @type record_transformer
  enable_ruby
  <record>
<%= render "partial_default_record_attributes.erb" %>
    time ${time.utc.iso8601(3)}
  </record>
</filter>

<match monitoring.**>
  @type copy
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-monitoring-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

<%= render "partial_stackdriver.erb" %>
  @include ../prometheus-mixin.conf
</match>
