    tag ${tag}
    environment <%= node.read('gitlab_fluentd', 'pubsub_log_env') || node.chef_environment %>
    hostname <%= node['hostname'] %>
    fqdn <%= node['fqdn'] %>
    stage <%= node.read('prometheus', 'labels', 'stage') || 'unknown' %>
    shard <%= node.read('prometheus', 'labels', 'shard') || 'unknown' %>
    tier <%= node.read('prometheus', 'labels', 'tier') || 'unknown' %>
    type <%= node.read('prometheus', 'labels', 'type') || 'unknown' %>
