# Note there are some non-json lines that are coming into the puma stderr and stdout
# logs, for now we will just ignore them https://gitlab.com/gitlab-org/gitlab/issues/118821

<source>
  @type tail
  tag puma.stderr
  path /var/log/gitlab/puma/puma_stderr.log
  pos_file /var/log/td-agent/puma_stderr.log.pos
  emit_unmatched_lines true
  <parse>
    @type json
    keep_time_key true
    # Example: 2019-12-18T06:40:04.363Z
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>

<source>
  @type tail
  tag puma.stdout
  path /var/log/gitlab/puma/puma_stdout.log
  pos_file /var/log/td-agent/puma_stdoutlog.pos
  emit_unmatched_lines true
  <parse>
    @type json
    keep_time_key true
    # Example: 2019-12-18T12:34:38.206Z
    time_format %Y-%m-%dT%H:%M:%S.%N%Z
  </parse>
</source>


## filter: hostname is not set on the puma logs
<filter puma.*>
  @type record_transformer
  enable_ruby
  <record>
<%= render "partial_default_record_attributes.erb" %>
    time ${time.utc.iso8601(3)}
  </record>
</filter>

<match puma.*>
  @type copy
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-puma-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

<%= render "partial_stackdriver.erb" %>
  @include ../prometheus-mixin.conf
</match>
