# Since runners log to syslog, we catch all syslog events
# before they are published and rewrite their tags if `ident`
# field is `gitlab-runner` to send them to a dedicated index.
<match system.syslog>
  @type rewrite_tag_filter
  <rule>
    key ident
    pattern gitlab-runner
    tag runner
  </rule>
</match>

<filter runner>
  @type parser
  key_name message
  format json
</filter>

<filter runner>
  @type record_transformer
  <record>
<%= render "partial_default_record_attributes.erb" %>
  </record>
</filter>

<match runner>
  @type copy
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-runner-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

<%= render "partial_stackdriver.erb" %>
  @include ../prometheus-mixin.conf
</match>
